.divForm {
  width: 60%;
  margin: 1% auto 5% auto;
  border-radius: 10px;
  padding: 1%;
}

.buttonleft {
  margin-left: 30%;
}

.buttonright {
  margin-left: 30%;
}

.input-group-addon {
  min-width: 7em;
  text-align: left;
}

.input-group {
  margin-bottom: 2em;
}

.ddl-radius {
  border-radius: 0 4px 4px 0 !important;
}

.align-top {
  vertical-align: top;
}

.cover {
  display: none;
}
