<div class="divForm">

  <form>
    <div class="form-group">
      <label>Titre*</label>
      <div class="col-10">
        <input type="text" class="form-control" placeholder="Example Vitre Cassée"
             [(ngModel)]="title" name="titre"
             [@formFalseValidationTitle]='formFalseValidationTitle'
             [ngStyle]="{'background-color': animationRedTitle? '#b83030' : '#ffffff'}"
             (@formFalseValidationTitle.done)="setBackToUnchecked()" >
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <div class="col-10">
        <textarea class="form-control" rows="3" name="description" [(ngModel)]="description"></textarea>
      </div>
    </div>

    <table>
      <tr>
        <td class="col1">
          <div class="form-group">
            <label >Date</label>
            <div class="col-10">
              <input class="form-control" type="datetime-local"
                     [ngModel]="dateIncident | date:'yyyy-MM-ddThh:mm'"
                     (ngModelChange)="dateIncident = $event"
                     [value]="dateIncident | date:'yyyy-MM-ddThh:mm'" name="date">
            </div>
          </div>
        </td>
        <td class="col-10">

        </td>

        <td class="col2">
          <div class="form-group">
            <label> Importance* </label>
            <div class="col-10">
              <select class="form-control" name="importance" [(ngModel)]="idUrgency"
                      [@formFalseValidationUrgency]='formFalseValidationUrgency'
                      [ngStyle]="{'background-color': animationRedUrgency? '#b83030' : '#ffffff'}"
                      (@formFalseValidationUrgency.done)="setBackToUnchecked()">
                <option *ngFor="let key of mapUrgencyKeys" [ngValue]="idUrgency">{{mapUrgency.get(key)}}</option>
              </select>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="col1">
          <div class="form-group">
            <label> Localisation </label>
            <div class="col-10">
              <select class="form-control" name="localisation" [(ngModel)]="idLocation">
                <option *ngFor="let key of mapLocationKeys" [value]="key" >{{ mapLocation.get(key)}} </option>
              </select>
            </div>
          </div>
        </td>
        <td class="col-5">

        </td>
        <td class="col2">
          <div class="form-group">
            <label> Type Incident* </label>
            <div class="col-10">
              <select class="form-control" name="typeIncident" [(ngModel)]="idCat"
                      [@formFalseValidationCat]='formFalseValidationCat' (@formFalseValidationCat.done)="setBackToUnchecked()"
                      [ngStyle]="{'background-color': animationRedCat? '#b83030' : '#ffffff'}">
                <option *ngFor="let key of mapCategoryKeys" [value]="key">{{ mapCategory.get(key)}}</option>
              </select>
            </div>
          </div>

        </td>
      </tr>
    </table>
  </form>
  <!--<table>
    <tr class="tr">
      <td class="col1">Titre* :</td>
      <td class="col2" colspan="2"><input class="form-control" type="text" name="titre" id="inputTitre"
                                          [(ngModel)]="title"
                                          [@formFalseValidationTitle]='formFalseValidationTitle'
                                          [ngStyle]="{'background-color': animationRedTitle? '#b83030' : '#ffffff'}"
                                          (@formFalseValidationTitle.done)="setBackToUnchecked()">
      </td>
      <td class="col4"></td>
    </tr>
    <tr>
      <td class="col1"> Description :</td>
      <td class="col2" colspan="3"><textarea rows="3" cols="79" autoResize="autoResize"
                                             [(ngModel)]="description"> </textarea></td>
    </tr>
    <tr>
      <td class="col1"> Date - Heure :</td>
      <td class="col2">
        <input type="datetime-local" [ngModel]="dateIncident | date:'yyyy-MM-ddThh:mm'" (ngModelChange)="dateIncident= $event"
               [value]="dateIncident | date:'yyyy-MM-dd-Thh:mm'">
      </td>
      <td class="col3"> Localisation :</td>
      <td>
        <select class="custom-select" name="Localisation" [(ngModel)]="idLocation">
          <option *ngFor="let key of mapLocationKeys" [value]="key" >{{ mapLocation.get(key)}} </option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="col1">  Importance* : </td>
      <td class="col2">
        <select name="Importance" [(ngModel)]="idUrgency"
                [@formFalseValidationUrgency]='formFalseValidationUrgency'
                [ngStyle]="{'background-color': animationRedUrgency? '#b83030' : '#ffffff'}"
                (@formFalseValidationUrgency.done)="setBackToUnchecked()">
          <option *ngFor="let key of mapUrgencyKeys" [value]="key" >{{ mapUrgency.get(key) }}</option>
        </select>
      </td>
      <td class="col3">Type incident* : </td>
      <td class="col4">
        <select name="Type incident" [(ngModel)]="idCat"
                [@formFalseValidationCat]='formFalseValidationCat' (@formFalseValidationCat.done)="setBackToUnchecked()"
                [ngStyle]="{'background-color': animationRedCat? '#b83030' : '#ffffff'}">
          <option *ngFor="let key of mapCategoryKeys" [value]="key">{{ mapCategory.get(key)}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="col1"> Importer Photo :</td>
      <td colspan="2"><input type="file" (change)="handleInputChange($event)" accept="image/*" ></td>
    </tr>

  </table>
  -->
</div>
<div class="erreur margin25left " [ngClass]="errorValidate"> Veuillez remplir les champs marqués d'une * ( Ils sont
  obligatoires )
</div>
<div class="table" class="margin">
  <button class="buttonleft" (click)="openDialogReturn()">
    Retour
  </button>
  <button class="buttonright" (click)="openDialogValidate()">
    Valider
  </button>
</div>
<label class="margintop">
  *champs obligatoires
</label>

