@import url(http://fonts.googleapis.com/css?family=Roboto);
.divForm{
  width:80%;
  background-color: #98c2ff;
  alignment: center;
  margin: 10% auto 6%;
}
.buttonleft{
  margin-left:30%;
}
.buttonright{
  margin-left:30%;
}
.margin10left{
  margin-left:10%;
}.margin25left{
  margin-left:35%;
   margin-bottom: 3%;
}.margintop5{
  margin-top:3%;
  }
 .marginleft4{
  margin-left:4.4%;
}
.div{
  vertical-align:top;
}

.erreur{
  color:red;
}

.cover{
  display: none;
}
