<div class="container-fluid box">
  <div class="row form-inline">

    <div class="input-group col-md-3">
      <span class="input-group-addon front-addon">Jour :</span>
      <select class="form-control" [(ngModel)]="dayUserChose">
        <option *ngFor="let day of dayOfWeek">{{day}}</option>
      </select>
    </div>

    <div *ngIf="domoticThermostatId==domoticItemID" class="input-group col-md-3">
      <span class="input-group-addon front-addon">Mini : </span>
      <input type="number" class="form-control input-number"
             [(ngModel)]="minTemperature" min="0" max="59">
      <span class="input-group-addon">°C</span>
    </div>

    <div class="input-group col-md-3" *ngIf="domoticAlarmId!=domoticItemID">
      <label class="switch form-control">
        <input type="checkbox" [(ngModel)]="automaticToggle">
        <span class="slider round"></span>
      </label>
      <span *ngIf="automaticToggle" class="input-group-addon width-56prc">Auto</span>
      <span *ngIf="!automaticToggle" class="input-group-addon width-56prc">Manuel</span>
    </div>

    <div class="input-group col-md-1" *ngIf="!currentSchedule">
      <button class="btn btn-success" (click)="addSchedule()">
        Ajouter
      </button>
    </div>

    <div class="input-group col-md-1" *ngIf="currentSchedule">
      <button class="btn btn-warning" (click)="updateSchedule()">
        Modifier
      </button>
    </div>

  </div>

  <div class="row form-inline ">

    <div class="input-group col-md-3">
      <span class="input-group-addon front-addon">Début : </span>
      <div class="form-control no-padding">
        <input type="number" class="input-number col-md-6 sub-form-control"
               (keyup)="checkStartHour()"
               [(ngModel)]="startHour" min="1" max="24">
        <input type="number" class="input-number col-md-6 sub-form-control"
               (keyup)="checkStartMinutes()"
               [(ngModel)]="startMinutes" min="0" max="59">
      </div>
    </div>

    <div class="input-group col-md-3">
      <span class="input-group-addon front-addon">Fin : </span>
      <div class="form-control no-padding">
        <input type="number" class="input-number col-md-6 sub-form-control"
               (keyup)="checkEndHour()"
               [(ngModel)]="endHour" min="1" max="24">
        <input type="number" class="input-number col-md-6 sub-form-control"
               (keyup)="checkEndMinutes()"
               [(ngModel)]="endMinutes" min="0" max="59">
      </div>
    </div>
    <div class="input-group col-md-1" *ngIf="currentSchedule">
      <button class="btn btn-danger" (click)="deleteSchedule()">
        Supprimer
      </button>
    </div>

  </div>
</div>
