.circle {
  display: inline-flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.issue-title {
  margin-left: .5em;
  font-weight: bold;
  display: inline;
}

.margin-left-1em {
  margin-left: 1em;
}

.margin-left-2em {
  margin-left: 3em;
}
