<div class="container-fluid panel panel-default">
  <div class="row panel-heading">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <p [style.background-color]="changeUrgencyBackground()" class="circle"></p>
      <h3 class="issue-title">{{issue.Title}}</h3>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <div *ngIf="issue.Description">
        <button class="btn btn-default" (click)="showMore()">
          <span [ngClass]="buttonDetailsIcon" aria-hidden="true"></span> Détails
        </button>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <button class="btn btn-default" (click)="showTasks()">
        <span [ngClass]="buttonTasksIcon" aria-hidden="true"></span> Tâches ({{countTask}})
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 list-group-item text-center">{{issue.DeclarationDate | date}}</div>
      <div class="col-xs-12 col-sm-6 col-md-4 list-group-item">Catégorie : {{categoryLabel}}</div>
      <div class="col-xs-12 col-sm-6 col-md-3 list-group-item">Lieu : {{locationLabel}}</div>
      <div class="col-xs-12 col-sm-6 col-md-2 list-group-item text-center"
           [style.background-color]="changeStatusBackGround()">{{statusLabel}}
      </div>
    </div>
    <div class="row" *ngIf="visibleDetails">
      <br>
      <div class="col-md-12 list-group-item">Description : {{issue.Description}}</div>
    </div>
  </div>

  <div class="row" *ngIf="visibleTasks">
    <div class="col-md-6" *ngFor="let task of tasks">
      <app-task [task]="task" (updateParent)="updateSelf($event)"></app-task>
    </div>
  </div>
</div>
