<div class="incident-block">
  <b [style.background-color]="changeBackground()" class="cercle"></b>
  <h3 class="margin-left-1em">
    Titre : {{issue.Title}}

    <button class="margin-left-1em" (click)="showMore()">plus de détails</button>
    <button class="margin-left-1em" (click)="showTasks()">afficher les tâches</button>
  </h3>
  <div class="width-full table">
    <div class="width-full">
      <div class="medium-cell"><p class="no-margin">Date : {{issue.DeclarationDate | date}}</p></div>
      <div class="large-cell"><p class="no-margin">Catégorie : {{categoryLabel}}</p></div>
      <div class="small-cell"><p class="no-margin">Status : {{statusLabel}}</p></div>
    </div>
    <div class="width-full" *ngIf="visibleDetails">
      <br>
      <div class="medium-cell"><img src="{{issue.Picture}}"></div>
      <div class="large-cell">Description : {{issue.Description}}
      </div>
      <div class="small-cell">Destinataire : undefined</div>
    </div>
  </div>
</div>
<div class="tasks-list" *ngIf="visibleTasks">
  <div *ngFor="let task of tasks">
    <app-task [task]="task"></app-task>
  </div>
</div>
