<div class="head">
  <img class="logo" src="assets/icons/safe-house-icon.png" width="58" height="63">
  <h1 id="titrePage"> Smart Home : Gestion d'incidents </h1>
  <div class="container">
    <ul class="nav nav-tabs" *ngIf="coverBtnDeconnexion()">
      <li [ngClass]="suiviIncident" (click)="updateColorBtn('suiviIncident')" ><a routerLink="/issueView"> Suivi de mes incidents </a></li>
      <li [ngClass]="ajoutIncident" (click)="updateColorBtn('ajoutIncident')" ><a routerLink="/issueForm"> Ajouter un incident </a></li>
      <li id="deconexion" class="active"><a (click)="logout()"> Deconnexion </a></li>
    </ul>
  </div>
</div>
<hr>
