.head {
  background-color: #37beff;
  min-height: 115px;
}
.logo {
  margin: .5%;
}
#titrePage{
  display: inline;
  position: absolute;
  top:20px; left: 50%;
  transform: translate(-50%, -50%);
}
#deconexion{
  float:right;
}
#deconexion a:hover{
  cursor:pointer;
  background-color: #ff4242;
  color: white;
}
