<div class="head">
  <img class="logo" src="/assets/icons/safe-house-icon.png" width="58" height="63">
  <div class = "contenantBtn">
    <table>
      <tr (click)="updateColorBtn()">
        <td [ngClass]="ajouterIncident" routerLink="/issueForm" *ngIf="coverBtnDeconnexion()">
          Ajouter un incident
        </td>
        <td [ngClass]="mesIncidents" routerLink="/issueView" *ngIf="coverBtnDeconnexion()">
          Suivi de mes incidents
        </td>
        <td></td>
        <td>
          <button *ngIf="coverBtnDeconnexion()">
            <a routerLink="/connexion"> Déconnexion </a>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<hr>
