.main {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.button-container {
  width: 100%;
  text-align: center;
  margin-bottom: .2em;
}

.large-button {
  width: 49.5%;
  font-size: 1em;
  height: 2.5em;
  border-radius: 4px;
  outline: 0;
}

.list {
  display: block;
  width: 100%;
}

.margin-bottom-1em {
}

.selected {
  background: #5b96ff;
}

.not-selected {
  background: #98c2ff;
}
