
.circle {
  display: inline-flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.grey {
  background-color: grey;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.no-padding-left {
  padding-left: 0;
}

.buttons-area {
  margin-bottom: 1em;
}

.no-padding-right {
  padding-right: 0;
}

.list {
  display: block;
  width: 100%;
}

.align-center {
  vertical-align: baseline;
}
