<div class="divsmall">
  Importance:
  <p>Majeure<b class="cercle grey"></b></p>
  <p>Forte<b class="cercle red"></b></p>
  <p>Moyenne<b class="cercle orange"></b></p>
  <p>Faible<b class="cercle green"></b></p>
  <p>Mineure<b class="cercle blue"></b></p>
</div>
<div class="main">
  <div class="button-container">
    <button [ngClass]="declaredButtonColor" class="large-button" (click)="declaredButton_OnClick()">Déclaré</button>
    <button [ngClass]="assignedButtonColor" class="large-button" (click)="assignedButton_OnClick()">Assigné</button>
  </div>
  <div class="list">
    <div *ngFor="let issue of issues">
      <app-issue [issue]="issue"></app-issue>
    </div>
  </div>
</div>
