<div [ngClass]="bannerColor">
  <div class="row panel-heading">
    <h4>{{task.Text}}</h4>
  </div>
  <div class="panel-body row">
    <div class="col-md-8">
      <p>Destinataire : {{asignee}}</p>
    </div>
    <div class="col-md-4">
      <div [ngClass]="toggleVisible">
        <label class="switch">
          <input type="checkbox" (click)="changeTaskStatus()" [(ngModel)]="toggleSwitch">
          <span class="slider round"></span>
        </label>
        <label *ngIf="toggleSwitch" class="left">Validée</label>
        <label *ngIf="!toggleSwitch" class="right">A faire</label>
      </div>
    </div>
  </div>
</div>

