<div class="container-fluid container-background">
  <h2 class="no-margin-top">
    Ajouter un créneau horaire :
    <button class="btn btn-primary" (click)="showAddSchedule()">
      <span [ngClass]="addScheduleIcon" aria-hidden="true"></span>
    </button>
  </h2>
  <div *ngIf="visibleAddSchedule">
    <app-data-domotic [domoticItemID]="domoticItemID" (updateList)="ngOnChanges()">
    </app-data-domotic>
  </div>
  <h2>
    Créneaux déjà existants :
    <button class="btn btn-primary" (click)="showListSchedules()">
      <span [ngClass]="listSchedulesIcon" aria-hidden="true"></span>
    </button>
  </h2>
  <div *ngIf="visibleListSchedules" class="row panel-heading">
    <div *ngFor="let schedule of schedules">
      <app-data-domotic [domoticItemID]="domoticItemID" [currentSchedule]="schedule" (updateList)="ngOnChanges()">
      </app-data-domotic>
    </div>
  </div>
</div>
