@import url(https://fonts.googleapis.com/css?family=Roboto);

.cover {
  display: none;
}

.erreur {
  color: red;
  text-align: center;
}

#connexion {
  width: 30%;
  margin: 10% auto;
}

.error {
  border: #ff4242 2px solid;
}
