<div id="connexion">
  <form action="/action_page.php" #connectionForm="ngForm">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" id="email" name="email" required [(ngModel)]="user.email" #email="ngModel"
             class="form-control">
      <div class="erreur" *ngIf="email.invalid && email.touched"> Vous devez remplir le champ login</div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required [(ngModel)]="user.password" #password="ngModel"
             class="form-control">
      <div class="erreur" *ngIf="password.invalid && password.touched "> Vous devez remplir le champ mot de passe</div>
    </div>
    <button (click)="login()" value="Login" type="Submit" class="btn btn-default">Connexion</button>
    <div class="erreur" [ngClass]="erreurLogin"> le mot de passe ou le login n'est pas valide</div>
  </form>
</div>
