@import url(https://fonts.googleapis.com/css?family=Roboto);
.cover{
  display: none;
}
.erreur{
  color:red;
  text-align: center;
}
#connexion{
  margin: 10% 30%;
}
.error{
  border:#ff4242 2px solid;
}
