<div>

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <form>
          <input type="email" id="email" placeholder="Username" value="theos.leBG-dugroupe@bugbuster.fr" required>
          <input type="password" id="pass" placeholder="Password" value="whala" required>
          <input routerLink="/issueView" type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>

        <div class="login-help">
         <a href="#">Forgot Password</a>
        </div>
      </div>
    </div>
  </div>
</div>
